SKM Examples/SKM Examples VBNET/obj/Debug/SKM Examples VBNET.vbproj.GenerateResource.Cache
*.Cache
SKM Examples/SKM Examples VBNET/obj/Debug/SKM Examples VBNET.pdb
*.cache
SKM Examples/SKM Examples VBNET/bin/Debug/SKM Examples VBNET.exe
payments/.vs/ConsoleApp14/v16/Server/sqlite3/storage.ide
payments/.vs/ConsoleApp14/v16/Server/sqlite3/db.lock
payments/.vs/ConsoleApp14/v16/.suo
payments/.vs/ConsoleApp14/DesignTimeBuild/.dtbcache
